.fondo {
  background: url("../img/fondo.png") no-repeat center center;
  background-size: 100% auto;
  background-size: cover;
}
.fondoe {
  background: url("../img/fondoe.jpg") no-repeat center center;
  background-size: 100% auto;
  background-size: cover;
  overflow: auto;
}
.formreguistro{
    min-height:400px; 
    margin-top:30px; 
    background-color: rgba(255, 255, 255, 0.6); 
    border-radius: 25px;
}
.panel-menu{
    background-color: rgba(255, 255, 255, 0.6); 
    border-radius: 25px;
    overflow: auto;
}
.botonera{
    margin-top: 10px;
}
.card-menu{
    margin-top: 20px;
}
.fondo-card{
  background-size: 100% auto;
  background-size: cover;
  overflow: hidden;
  height: 125px;
  
}
.footer-font{
  color: white;
  font-size: 35px;
}
.sidebar-fondo{
  background: url("../img/logoCono.jpg") no-repeat center center;
  background-size: 100% auto;
  background-size: cover;
}