<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="sidebar" data-target=".sidebar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" id="menu-toggle">
        Cono D'Italia
      </a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <a href="index.html" class="col-xs-3"><i class="footer-font fa fa-home" aria-hidden="true"></i></a>
    <a href="menu.html" class="col-xs-3"><i class="footer-font fa fa-cutlery" aria-hidden="true"></i></a>
    <a href="contactanos.html" class="col-xs-3"><i class="footer-font fa fa-phone" aria-hidden="true"></i></a>
    <a href="#" class="col-xs-3"><i class="footer-font fa fa-share-alt" aria-hidden="true"></i></a>
  </div><!-- /.container-fluid -->
</nav>

<!-- Sidebar -->
<div class="col-xs-7 col-sm-6 col-md-5 navbar-inverse sidebar sidebar-left sidebar-animate">
  <div class="sidebar-fondo">
    <a href="#" class="">
        <br>
        <p>
          Hola {{user.nombre}} {{user.apellido}}
        </p>
        <br>
        <p>
          Cono D'Italia
        </p>
        <p>
          Telefono: xxxx-xxx-xxxx-xxx
        </p>
    </a>
  </div>
  <ul class="nav">
      <li>
        <a href="index.html" style="color:white;">
          <i class="fa fa-home" aria-hidden="true"></i> Inicio
        </a>
      </li>
      <li ng-if="!is_authenticated">
          <a href="login.html" style="color:white;">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Entrar
          </a>
      </li>
      <li>
          <a href="#" style="color:white;">
            <i class="fa fa-star" aria-hidden="true"></i> Valoranos
          </a>
      </li>
      <li>
          <a href="#" style="color:white;">
            <i class="fa fa-share-alt" aria-hidden="true"></i> Compartir
          </a>
      </li>
      <li>
          <a href="#" style="color:white;">
            <i class="fa fa-phone" aria-hidden="true"></i>  Contactanos
          </a>
      </li>
      <li>
          <a href="franquicias.html" style="color:white;">
            <i class="fa fa-building-o" aria-hidden="true"></i> Franquisias <span ng-if="is_selet_franquisia" class="label label-default">{{franquisia.name}}</span>
          </a>
      </li>
      <li>
          <a href="menu.html" style="color:white;">
            <i class="fa fa-cutlery" aria-hidden="true"></i> Menu
          </a>
      </li>
      <li ng-if="is_authenticated" ng-show="user.role=='user'">
          <a href="carrito.html" style="color:white;">
            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Carrito <span class="badge">{{carlength}}</span>
          </a>
      </li>
      <li ng-if="is_authenticated" ng-show="user.role=='administrador'">
          <a href="graficas.html" style="color:white;">
            <i class="fa fa-area-chart" aria-hidden="true"></i> Reportes
          </a>
      </li>
      <li ng-if="is_authenticated" ng-show="user.role=='administrador'">
          <a href="admin_carrito.html" style="color:white;">
            <i class="fa fa-plus" aria-hidden="true"></i> Nueva Orden
          </a>
      </li>
      <li ng-if="is_authenticated">
          <a href="lista_carrito.html" style="color:white;">
            <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Lista De Ordenes
          </a>
      </li>
      <li ng-if="is_authenticated">
          <a href="user.html" style="color:white;">
            <i class="fa fa-user" aria-hidden="true"></i> Perfil
          </a>
      </li>
      <li ng-if="is_authenticated">
          <a href="login.html" style="color:white;">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Desconectar
          </a>
      </li>
      <li>
          <a href="#" style="color:white;">
            <i class="fa fa-power-off" aria-hidden="true"></i> Salir
          </a>
      </li>
  </ul>
</div>