<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Carrito</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Simplex.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/select2.min.css">
    <link rel="stylesheet" href="css/select2b.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="fondoe">
    <div id="App1" ng-app="barras" ng-controller="barra">
      <leopoldo-nav></leopoldo-nav>
    </div>
    <div id="App2" style="margin-top: 55px;" ng-app="mycar" ng-controller="car" class="container">
      <div class="row" ng-show="is_selet_franquisia">
        <div class="col-xs-12 col-md-7 bg-warning">
          <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#carrito" aria-controls="carrito" role="tab" data-toggle="tab">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Carrito Cliente:</span>
                    <select class="form-control" name="" id="cliente"></select>
                    <span class="input-group-btn">
                      <button data-toggle="modal" 
                              data-target="#nuevo_cliente" 
                              class="btn btn-default" 
                              type="button"
                              >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </button>
                    </span>
                  </div>
                </a>
              </li>
              <li role="presentation">
                <a href="#menu" aria-controls="menu" role="tab" data-toggle="tab">
                  Menu
                </a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="carrito">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="row" style="height:400px; overflow: auto;">
                      <div ng-repeat="x in car | orderBy:'id'" class="col-xs-6">
                        <div class="panel panel-{{x.class}}">
                          <div class="panel-heading">{{x.title}}
                            <button type="button" 
                                    class="close" 
                                    data-dismiss="alert" 
                                    aria-label="Close"
                                    ng-click="remove_card(x)"
                                    ng-show="x.in_card"
                                    ng-mouseover="focus_delete(x)"
                                    ng-mouseleave="blur_delete(x)"
                                    >
                            <span aria-hidden="true">&times;</span></button>
                          </div>
                          <div class="panel-body fondo-card" style="background: url('{{x.img}}') no-repeat center center;">
                          </div>
                          <div class="panel-footer">
                            <div class="row">
                              <div class="col-xs-12"> 
                                <div class="row">
                                  <div class="col-xs-8">
                                    {{x.costo*x.cantidad | currency:"$ ":2}}
                                  </div>
                                  <div class="col-xs-4">
                                    {{x.cantidad}}
                                  </div> 
                                </div> 
                              </div>
                              <div class="col-xs-6 btn btn-success" 
                                   ng-hide="x.in_card"
                                   ng-click="add_card(x)"
                                   >
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                              </div>
                              <div class="col-xs-3  btn btn-info" 
                                   ng-click="update_card(x, 'up')"
                                   ng-show="x.in_card"
                                   >
                                <i class="fa fa-chevron-up" aria-hidden="true"></i>
                              </div>
                              <div class="col-xs-3   btn btn-info" 
                                   ng-click="update_card(x, 'down')"
                                   ng-show="x.in_card">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                              </div>
                              <div class="col-xs-6  btn btn-warning"  
                                   data-toggle="modal" 
                                   data-target="#ver_platillo"
                                   ng-click="views_card(x)">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    
                  </div>
                </div>
                <div class="col-xs-12" id="botonera" class="botonera">
                  <div class="row">
                    <div class="col-xs-3 btn btn-success" ng-click="pedir_car()">
                      Pagar
                    </div>
                    <div class="col-xs-3 btn btn-danger" ng-click="vaciar_car()">
                      Vaciar Carrito
                    </div>
                    <div class="col-xs-3 btn btn-warning" ng-click="vaciar_car()">
                      Atender
                    </div>
                    <div class="col-xs-3 btn btn-info" data-toggle="modal" step="0.01" data-target="#descuento">
                      Descuento
                    </div>
                    <div class="col-xs-3 btn btn-info" ng-click="vaciar_car()">
                      Imprimir Factura
                    </div>
                    <div class="col-xs-3 btn btn-danger" ng-click="vaciar_car()">
                      Credito
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="menu">
                <div class="input-group col-xs-12" style="margin-top:10px; margin-bottom:10px;">
                  <span class="input-group-addon" id="basic-addon1">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                  <input type="text" class="form-control" placeholder="Buscar" ng-model="filtro" aria-describedby="basic-addon1">
                </div>
                <div style="height:405px; overflow: auto;">
                  <div dir-paginate="x in cards | itemsPerPage: 6 | filter:filtro" class="col-xs-6">
                    <div class="panel panel-{{x.class}}">
                        <div class="panel-heading">{{x.title}}
                          <button type="button" 
                                  class="close" 
                                  data-dismiss="alert" 
                                  aria-label="Close"
                                  ng-click="remove_card(x)"
                                  ng-show="x.in_card"
                                  ng-mouseover="focus_delete(x)"
                                  ng-mouseleave="blur_delete(x)"
                                  >
                          <span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="panel-body fondo-card" style="background: url('{{x.img}}') no-repeat center center;">
                        </div>
                        <div class="panel-footer">
                          <div class="row">
                            <div class="col-xs-12"> 
                              <div class="row">
                                <div class="col-xs-8">
                                  {{x.costo*x.cantidad | currency:"$ ":2}}
                                </div>
                                <div class="col-xs-4">
                                  {{x.cantidad}}
                                </div> 
                              </div> 
                            </div>
                            <div class="col-xs-6 btn btn-success" 
                                 ng-hide="x.in_card"
                                 ng-click="add_card(x)"
                                 >
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-3  btn btn-info" 
                                 ng-click="update_card(x, 'up')"
                                 ng-show="x.in_card"
                                 >
                              <i class="fa fa-chevron-up" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-3   btn btn-info" 
                                 ng-click="update_card(x, 'down')"
                                 ng-show="x.in_card">
                              <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-6  btn btn-warning"  
                                 data-toggle="modal" 
                                 data-target="#ver_platillo"
                                 ng-click="views_card(x)">
                              <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <dir-pagination-controls class="col-xs-12"></dir-pagination-controls>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-5">
          <div class="panel panel-warning ">
            <div class="panel-heading">Factura</div>
            <div class="panel-body" style="height:477px; overflow: auto;">
              <div class="row">
                <div class="col-xs-8">
                  Recivo Nº  
                </div>
                <div class="col-xs-4 text-right">hola </div>
              </div>
              <div class="row">
                <div class="col-xs-1">
                  Cat.  
                </div>
                <div class="col-xs-6 text-center">Descripcion </div>
                <div class="col-xs-5 text-right">Precio </div>
              </div>
              <div ng-repeat="x in car" class="row">
                <div class="col-xs-1">
                  {{x.cantidad}}  
                </div>
                <div class="col-xs-6 text-center">{{x.title}}</div>
                <div class="col-xs-5 text-right">{{x.cantidad * x.costo | currency:"$ ":2}} </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-xs-3">
                  Subtotal:
                </div>
                <div class="col-xs-3 text-right">{{subtotal | currency:"$ ":2}} </div>
                <div class="col-xs-3">
                  Tax (10%):
                </div>
                <div class="col-xs-3 text-right">{{tax | currency:"$ ":2}} </div>
                <div class="col-xs-3">
                  Descuento ({{Descuento}}%):
                </div>
                <div class="col-xs-3 text-right">{{descuento | currency:"$ ":2}} </div>
                <div class="col-xs-3">
                  Total:
                </div>
                <div class="col-xs-3 text-right">{{total | currency:"$ ":2}} </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Visualizado-->
        <div class="modal fade" id="ver_platillo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{platillo.title}}</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-12 col-md-4" >
                    <img src="{{platillo.img}}" class="img-responsive img-circle col-xs-12" alt="Responsive image">
                  </div>
                  <div class="col-xs-12 col-md-6" >
                    {{platillo.description}}
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal descuento-->
        <div class="modal fade" id="descuento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form ng-submit="add_descuento()">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">
                    Descuento
                  </h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                      <div class="form-group  col-xs-12">
                        <label class="signup-label" for="Descuento">Descuento</label>
                        <input type="number" ng-model="Descuento" ng-change="calculate()" name="Descuento" value="0" class="form-control" id="telefono" placeholder="Telefono" required>
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning" data-dismiss="modal">Aceptar</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Descuento=0" >Cerrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Modal nuevo usuario-->
        <div class="modal fade" id="nuevo_cliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form ng-submit="add_user(new_user)">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-plus" aria-hidden="true"></i> Nuevo Cliente
                  </h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                      <div class="form-group  col-xs-12">
                        <label class="signup-label" for="telefono">Telefono</label>
                        <input type="text" ng-model="new_user.telefono" name="telefono" class="form-control" id="telefono" placeholder="Telefono" required>
                      </div>
                      <div class="form-group  col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label class="signup-label" for="nombre">Nombre</label>
                        <input type="text" ng-model="new_user.nombre" name="nombre" class="form-control" id="nombre" placeholder="Nombre" required>
                      </div>
                      <div class="form-group  col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label class="signup-label" for="apellido">Apellido</label>
                        <input type="text" ng-model="new_user.apellido" name="apellido" class="form-control" id="apellido" placeholder="Apellido" required>
                      </div>
                      <div class="form-group  col-xs-12">
                        <label class="signup-label" for="email">Email</label>
                        <input type="email" ng-model="new_user.email" name="email" class="form-control" id="email" placeholder="Email" required>
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-warning">Registrate</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-show="!is_selet_franquisia">
        <div class="col-xs-12 col-md-10 col-md-offset-1 panel-menu">
          <h1 class="text-center">Debes Selecionar Una Franquisia</h1>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js" ></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/sidebar.js"></script>
    <script type="text/javascript" src="js/select2.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/dirPagination.js"></script>
    <script type="text/javascript" src="js/cabezera.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/admin_carrito.js"></script>
</body>
</html>