<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Franquicias</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Simplex.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="fondo">
    <div id="App1" ng-app="barras" ng-controller="barra">
      <leopoldo-nav></leopoldo-nav>
    </div>
    <div id="App2" style="margin-top: 55px; margin-bottom: 55px;" ng-app="mymenu" ng-controller="card" class="container">
      <div class="row">
        <dir class="col-xs-12 col-md-10 col-md-offset-1 panel-menu">
          <div dir-paginate="x in franquisias | itemsPerPage: 6" class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <div class="panel panel-warning">
              <div class="panel-heading">{{x.name}}</div>
              <div class="panel-body fondo-card" style="background: url('{{x.image}}') no-repeat center center;">
              </div>
              <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-6 col-md-4 col-md-offset-1 btn btn-success" 
                       ng-click="select_franquisia(x)"
                       >
                       <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </div>
                  <div class="col-xs-6 col-md-4 col-md-offset-2 btn btn-warning"  
                       data-toggle="modal" 
                       data-target="#ver_franquisia"
                       ng-click="views_franquisia(x)">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <dir-pagination-controls class="col-xs-12"></dir-pagination-controls>
        </dir>
      </div>
      <!-- Modal Visualizado-->
      <div class="modal fade" id="ver_franquisia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">{{franquisia.name}}</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 col-md-4" >
                  <img src="{{franquisia.image}}" class="img-responsive img-circle col-xs-12" alt="Responsive image">
                </div>
                <div class="col-xs-12 col-md-6" >
                  <p>
                    Direccion: {{franquisia.address}}
                  </p>
                  <p>
                    Telefono: {{franquisia.phone}}
                  </p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js" ></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/sidebar.js"></script>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/dirPagination.js"></script>
    <script type="text/javascript" src="js/cabezera.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/franquicias.js"></script>
</body>
</html>