<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/Simplex.css">
  <link rel="stylesheet" href="css/sidebar.css">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" >
  <link rel="stylesheet" href="css/style.css">
  
</head>
<body class="fondo">
  <div id="App1" ng-app="barras" ng-controller="barra">
    <leopoldo-nav></leopoldo-nav>
  </div>
  <div id="App2" class="container" ng-app="mymenu" ng-controller="card">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="img/perro.jpg" class="" alt="...">
              <div class="carousel-caption">
                ...
              </div>
            </div>
            <div class="item">
              <img src="img/pizza.jpg" alt="...">
              <div class="carousel-caption">
                ...
              </div>
            </div>
            ...
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="#" id="menu-toggle">
                Nuestro Menu
              </a>
            </div>
          </div><!-- /.container-fluid -->
        </nav>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:55px;">
        <div class="col-xs-12">
            <div class="panel panel-primary">
              <div class="panel-heading">Pizza
              </div>
              <div class="panel-body fondo-card" style="background: url('img/pizza.jpg') no-repeat center center;">
              </div>
            </div>
        </div>
        <div dir-paginate="x in cards | itemsPerPage: 4" class="col-xs-6" ng-click="views_card(x)" data-toggle="modal" data-target="#ver_platillo">
            <div class="panel panel-{{x.class}}">
              <div class="panel-heading">{{x.title}}
              </div>
              <div class="panel-body fondo-card" style="background: url('{{x.img}}') no-repeat center center;">
              </div>
              <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-12"> 
                    {{x.costo | currency:"$ ":2}}
                  </div>
                </div>
              </div>
            </div>
        </div>
        <dir-pagination-controls class="col-xs-12"></dir-pagination-controls>
      </div>
    </div>
    <!-- Modal Visualizado-->
    <div class="modal fade" id="ver_platillo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{platillo.title}}</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12 col-md-4" >
                <img src="{{platillo.img}}" class="img-responsive img-circle col-xs-12" alt="Responsive image">
              </div>
              <div class="col-xs-12 col-md-6" >
                {{platillo.description}}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="js/jquery.min.js" ></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/sidebar.js"></script>
  <script src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/dirPagination.js"></script>
  <script type="text/javascript" src="js/cabezera.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/menu.js"></script>
</body>
</html>
