<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/Simplex.css">
  <link rel="stylesheet" href="css/sidebar.css">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" >
  <link rel="stylesheet" href="css/style.css">
  
</head>
<body class="fondo">
  <div id="App1" ng-app="barras" ng-controller="barra">
    <leopoldo-nav></leopoldo-nav>
  </div>
  <div class="container">
      <div id="App2" class="row" ng-app="mylogin" ng-controller="login">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row cajas-signup" >
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 formreguistro">
              <form ng-submit="login(user_login)" class="row">
                <div class="form-group  col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <h1 class="signup-label text-center">Entrar</h1>
                </div>
                <div class="form-group  col-xs-12">
                  <label class="signup-label" for="email">Email</label>
                  <input type="email" ng-model="user_login.email" name="email" class="form-control" id="email" placeholder="Email" required>
                </div>
                <div class="form-group  col-xs-12">
                  <label class="signup-label" for="password">Password</label>
                  <input type="password" ng-model="user_login.password" name="password" class="form-control" id="password" placeholder="Password" required>
                </div>
                <div class="form-group  col-xs-12">
                  <button type="submit" class="btn btn-warning col-xs-12">Entrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row cajas-signup" style="margin-bottom: 20px">
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 formreguistro">
              <form ng-submit="add_user(new_user)" class="row" style="margin-bottom: 20px">
                <div class="form-group  col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <h1 class="signup-label text-center">Registrate</h1>
                </div>
                <div class="form-group  col-xs-12">
                  <label class="signup-label" for="telefono">Telefono</label>
                  <input type="text" ng-model="new_user.telefono" name="telefono" class="form-control" id="telefono" placeholder="Telefono" required>
                </div>
                <div class="form-group  col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <label class="signup-label" for="nombre">Nombre</label>
                  <input type="text" ng-model="new_user.nombre" name="nombre" class="form-control" id="nombre" placeholder="Nombre" required>
                </div>
                <div class="form-group  col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <label class="signup-label" for="apellido">Apellido</label>
                  <input type="text" ng-model="new_user.apellido" name="apellido" class="form-control" id="apellido" placeholder="Apellido" required>
                </div>
                <div class="form-group  col-xs-12">
                  <label class="signup-label" for="email">Email</label>
                  <input type="email" ng-model="new_user.email" name="email" class="form-control" id="email" placeholder="Email" required>
                </div>
                <div class="form-group  col-xs-12">
                  <label class="signup-label" for="password">Password</label>
                  <input type="password" ng-model="new_user.password" name="password" class="form-control" id="password" placeholder="Password" required>
                </div>
                <div class="form-group  col-xs-12">
                  <label class="signup-label" for="password2">Repetir Password</label>
                  <input type="password" ng-model="new_user.password2" name="password2" class="form-control" id="password2" placeholder="Repetir Password" required>
                </div>
                <div class="form-group  col-xs-12">
                  <button type="submit" class="btn btn-warning col-xs-12">Registrate</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
  <script type="text/javascript" src="js/jquery.min.js" ></script>
  <script type="text/javascript" src="js/jwt-decode.min.js" ></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/sidebar.js"></script>
  <script src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/dirPagination.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/login.js"></script>
  <script type="text/javascript" src="js/cabezera.js"></script>
</body>
</html>
