<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Menu</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Simplex.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body class="fondoe">
  <div id="App1" ng-app="barras" ng-controller="barra">
    <leopoldo-nav></leopoldo-nav>
  </div>
  <div id="App2" style="margin-top: 55px;" ng-app="mymenu" ng-controller="card" class="container">
    <div class="row">
      <dir ng-show="is_selet_franquisia" class="col-xs-12 col-md-10 col-md-offset-1 panel-menu">
        <div class="input-group col-xs-12" style="margin-top:10px; margin-bottom:10px;">
          <span class="input-group-addon" id="basic-addon1">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
          <input type="text" class="form-control" placeholder="Buscar" ng-model="filtro" aria-describedby="basic-addon1">
        </div>
        <div dir-paginate="x in cards | itemsPerPage: 6 | filter:filtro" class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="panel panel-{{x.class}}">
              <div class="panel-heading">{{x.title}}
                <button type="button" 
                        class="close" 
                        data-dismiss="alert" 
                        aria-label="Close"
                        ng-click="remove_card(x)"
                        ng-show="x.in_card"
                        ng-mouseover="focus_delete(x)"
                        ng-mouseleave="blur_delete(x)"
                        >
                <span aria-hidden="true">&times;</span></button>
              </div>
              <div class="panel-body fondo-card" style="background: url('{{x.img}}') no-repeat center center;">
              </div>
              <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-12"> 
                    <div class="row">
                      <div class="col-xs-8">
                        {{x.costo*x.cantidad | currency:"$ ":2}}
                      </div>
                      <div class="col-xs-4">
                        {{x.cantidad}}
                      </div> 
                    </div> 
                  </div>
                  <div class="col-xs-6 btn btn-success" 
                       ng-hide="x.in_card"
                       ng-click="add_card(x)"
                       >
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  </div>
                  <div class="col-xs-3  btn btn-info" 
                       ng-click="update_card(x, 'up')"
                       ng-show="x.in_card"
                       >
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                  </div>
                  <div class="col-xs-3   btn btn-info" 
                       ng-click="update_card(x, 'down')"
                       ng-show="x.in_card">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </div>
                  <div class="col-xs-6  btn btn-warning"  
                       data-toggle="modal" 
                       data-target="#ver_platillo"
                       ng-click="views_card(x)">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <dir-pagination-controls class="col-xs-12"></dir-pagination-controls>
      </dir>
      <div ng-show="is_selet_franquisia" class="col-xs-12" id="botonera" class="botonera" style="margin-bottom:55px">
        <div class="row">
          <a href="carrito.html" class="col-xs-6 col-md-4 col-md-offset-1 btn btn-success">
            Comprar
          </a>
          <div class="col-xs-6 col-md-4 col-md-offset-2 btn btn-danger" ng-click="vaciar_car()">
            Vaciar Carrito
          </div>
        </div>
      </div>
      <dir ng-show="!is_selet_franquisia" class="col-xs-12 col-md-10 col-md-offset-1 panel-menu">
        <h1 class="text-center">Debes Selecionar Una Franquisia</h1>
      </dir>
    </div>
    <!-- Modal Visualizado-->
    <div class="modal fade" id="ver_platillo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{platillo.title}}</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12 col-md-4" >
                <img src="{{platillo.img}}" class="img-responsive img-circle col-xs-12" alt="Responsive image">
              </div>
              <div class="col-xs-12 col-md-6" >
                {{platillo.description}}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/jquery.min.js" ></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/sidebar.js"></script>
  <script src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/dirPagination.js"></script>
  <script type="text/javascript" src="js/cabezera.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/menu.js"></script>
</body>
</html>